<h1>タスク一覧</h1>
<% #自分のタスクのみ表示 %>
<% if logged_in? %>
<%= current_user.name %>
<br>
<%= current_user.id %>
<% end %>
<ul>
    <% @tasks.each do |tasklist| %>
    　<% if current_user.id == tasklist.user_id %>
        <li>
        id:<%= link_to tasklist.id ,tasklist %>|タイトル:<%= tasklist.status %>|タスク:<%= tasklist.content %>
        |投稿者:<%= tasklist.user_id  %>
        </li>
      <% end %>
    <% end %>
</ul>
<% if logged_in? %>
<%= link_to "タスクの追加",new_task_path %>
<%= link_to "ログアウト",logout_path, method: :delete %>
<% else %>
<%= link_to "タスクの追加",new_task_path %>
<%= link_to "ユーザー登録",new_user_path %>
<%= link_to "ログイン",login_path %>
<%= link_to "ログアウト",logout_path, method: :delete %>
<% end %>
<% #未ログイン状態だと %>